ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

ul li {
    background: rgb(238, 238, 238);
    padding: 1.5em;
    border-radius: 4px;
    margin-bottom: 7px;
    display: grid;
    grid-template-columns: 60px auto;
}

ul li a {
    font-weight: bold;
    margin-left: 20px;
}

img {
    border-radius: 50%;
    width: 100%;
}

.track:hover {
    background: lightgray;
}