<h1 class="header">Search</h1>

<form [formGroup]="preferenceForm" (ngSubmit)="onSubmit()" class="header">

    <div class="menu-item">
        <select [(ngModel)]="spotifyModuleSelected" name="spotify_module" formControlName="spotifyModule" data-ng-model="selectedspotifyModule" class="menu">
            <option class="placeholder" [ngValue]="undefined" disabled  selected> Spotify Module </option>
            <option *ngFor="let spotifyModule of spotifyModules" [value]="spotifyModule.value" class="dropdown-option">
                {{spotifyModule.name}}
            </option>
        </select>
    </div>

    <div class="menu-item">
        <select [(ngModel)]="timeRangeSelected" name="time_range" formControlName="timeRange" data-ng-model="selectedTimeRange" class="menu">
            <option class="placeholder" [ngValue]="undefined" disabled  selected> Time Range </option>
            <option *ngFor="let timeRange of timeRanges" [value]="timeRange.value" class="dropdown-option">
                {{timeRange.name}}
            </option>
        </select>
    </div>

    <div class="menu-item">
        <input type="number" formControlName="numberLimit" max="50" class="menu" placeholder="Result Limit (Max 50)">
        <div *ngIf="submitted && preferenceForm.controls.numberLimit.errors" class="error">
            <div *ngIf="preferenceForm.controls.numberLimit.hasError('max')">Number Limit must be less than 50</div>
        </div>
    </div>

    <div class="menu-item">
        <input type="submit" value="Update" class="cta menu">


        <button class="menu" (click)="authorize()">Authorize</button>
    </div>
</form>

<div *ngIf="spotifyModuleSelected === 'tracks'">
        <ul *ngIf="results" id="results">
            <li *ngFor="let result of results.items; let i = index" class="results">
                <img [src]="result.album.images[2].url">
                <a href="{{ result.external_urls.spotify }}" target="_blank"><p>{{ i + 1 }}. {{ result.artists[0].name }} - {{ result.name }}</p></a>
            </li>
        </ul>
    </div>

<div *ngIf="spotifyModuleSelected === 'artists'">
    <ul *ngIf="results" id="results">
        <li *ngFor="let result of results.items; let i = index" class="results">
            <img [src]="result.images[2].url">
            <a href="{{ result.external_urls.spotify }}" target="_blank"><p>{{ i + 1 }}. {{ result.name }}</p></a>
        </li>
    </ul>
</div>