header {
    background: #1DB954;
}
                
header .logo {
    font-weight: bold;
}

nav {
    justify-self: right;
}

a {
    color: #000000;
}

nav ul {
    list-style-type: none;
    margin: 0; padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    padding: 1.5em;
    text-transform: uppercase;
    font-size: .8em;
}

nav ul li a:hover {
    background: #FFFFFF;
}