<h1>Top Tracks</h1>

<button (click)="authorize()">Authorize</button>
<form [formGroup]="preferenceForm" (ngSubmit)="onSubmit()">

    <label>
        Time Range:
        <select [(ngModel)]="timeRangeSelected" name="time_range" formControlName="timeRange" data-ng-model="selectedTimeRange">
            <option *ngFor="let timeRange of timeRanges" [value]="timeRange.value">
                {{timeRange.value}}
            </option>
        </select>
    </label>

    <label>
        Number Limit:
        <input type="number" formControlName="numberLimit" max="50">
        <div *ngIf="submitted && preferenceForm.controls.numberLimit.errors" class="error">
            <div *ngIf="preferenceForm.controls.numberLimit.hasError('max')">Number Limit must be less than 50</div>
        </div>
    </label>

    <input type="submit" value="Update" class="cta">
</form>
    
<div>
<ul *ngIf="tracks" id="header">
    <li *ngFor="let track of tracks.items; let i = index" class="track">
        <img [src]="track.album.images[2].url">
        <a href="{{ track.external_urls.spotify }}" target="_blank"><p>{{ i + 1 }}. {{ track.artists[0].name }} - {{ track.name }}</p></a>
    </li>
</ul>
</div>